   {% extends 'temp.html' %}

{% block content %}

	  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


		<style>
	table, th, td {
	  border: 1px solid black;
	}
	</style>


<h3>Contributions </h3>
<table style="width:100%">
		<tr>
			<th>Time Stamp</th>
      <th>Type</th>
        <th>Unit</th>

<th> Action</th>
<th> Reward</th>

		</tr>

{% for student in details %}
<tr>

		<td>  {{ student.date}}   </td>
<td>    {{ student.Type }}</td>
<td>    {{ student.unit }}</td>
<td>  {{ student.status }} </td>
<td> {{student.reward }}</td>



	</tr>
{% endfor %}
</table>

<br><br>

<a href="{%  url 'index'%}" class="btn btn-primary">Back</a>

{% endblock %}
